body {
    font-family: Helvetica, sans-serif;
    color: #2a2a2a;
    max-width: 1000px;
    margin: auto;
}

#postamble {
    margin-top: 30px;
    border-top: dashed 1px lightgray;
    padding-top: 10px;
}

#postamble p {
    margin: 0 0;
    font-size: 12px;
}

.footer {
    margin-top: 20px;
    font-size: 14px;
}

a {
    color: #0000ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
