body {
    font-family: Helvetica, sans-serif;
    color: #2a2a2a;
}

#content, #postamble {
    width: 1000px;
    margin: 0 auto;
}

#postamble .validation {
    display: none;
}

.footer {
    margin-top: 20px;
    font-size: 14px;
}

a {
    color: #0000ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
